<div class="progress-card" [style.background-color]="progressBackgroundColor">
    <div class="overlay-layout"></div>
    <div class="content-container">
        <div class="content">
            <div class="mandatory-header">
                <h4>{{title}} {{progress}}%</h4>
                <p>{{description}} </p>
            </div>
            <app-gauge
                [progress]="totalCompliance"
                [progressBackgroundColor]="progressBackgroundColor"
            ></app-gauge>
        </div>
        <div class="mandatory-footer">
            <div class="dot">
                <img src="assets/icon/mandatory-circle.svg" alt="dot" />
            </div>
            <p>{{completed}}/{{total}} Competencies</p>
            ·
            <a href={{href}}>See All</a>
        </div>
        
    </div>
</div>