:host {
  .card {
    border-radius: var(--corner-radius-medium);
    border: 1px solid var(--border-default);
    background: var(--background-default);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
  }

  .card-content {
    padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium)
      var(--spacing-x-large);
    flex: 1 1 0;
    display: flex;
  }
}
