:host {
  .stats {
    position: relative;
    align-items: center;
    border-radius: var(--corner-radius-full);
    background: var(--background-default);
    box-shadow: 0px 8px 24px 0px rgba(66, 74, 83, 0.12),
      0px 6px 12px -3px rgba(66, 74, 83, 0.06);
    display: inline-flex;
  }
  .corner {
    position: absolute;
    bottom: 0px;
    width: 16px;
    height: 16px;
    background: var(--background-default);
  }
  .icon-container {
      padding: 4px;
      display: inline-flex;
      position: relative;
  }
 
}
