.container {
    min-height: 100vh;
    width: 100%;

    .content {
        max-width: var(--container-max-width-container);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--8);
        min-height: 100vh;
    }
}