/* You can add global styles to this file, and also import other style files */
[data-theme="Light"] {
    /* colors */
    --background-default: #ffffff;
    --background-disabled: #afb8c133;
    --background-emphasis: #24292f;
    --background-inset: #f6f8fa;
    --background-inverse: #0d1117;
    --background-subtle: #f6f8fa;
    --border-default: #d0d7de;
    --border-disabled: #f6f8fa;
    --border-divider: #1f23281a;
    --border-emphasis: #8c959f;
    --border-focus: #0969da;
    --border-stackable: #ffffff;
    --border-subtle: #d0d7dea6;
    --border-on-inverse-divider: #ffffff26;
    --components-bar-empty: #58728b1a;
    --components-menu-selected: #d0d7de33;
    --components-overlay-bg: #8c959fb2;
    --components-control-brand--overlay-bg-subtle: #ffffffe5;
    --components-control-brand--overlay-border-subtle: #ffffffcc;
    --components-control-brand--overlay-disabled-overlay: #ffffff8c;
    --components-control-danger-background-default: #f6f8fa;
    --components-control-danger-background-disabled: #f6f8fa;
    --components-control-danger-background-hover: #a40e26;
    --components-control-danger-border-default: #d0d7de;
    --components-control-danger-border-hover: #1f232826;
    --components-control-danger-foreground-default: #d1242f;
    --components-control-danger-foreground-disabled: #d1242f80;
    --components-control-danger-foreground-hover: #ffffff;
    --components-control-danger-foreground-subtle: #cf222e;
    --components-control-default-background-active: #e6edf3;
    --components-control-default-background-active-inner-shadow: #1b1f2326;
    --components-control-default-background-default: #f6f8fa;
    --components-control-default-background-disabled: #f6f8fa;
    --components-control-default-background-hover: #eaeef2;
    --components-control-default-border-default: #d0d7de;
    --components-control-default-border-disabled: #f6f8fa;
    --components-control-default-border-hover: #d0d7de;
    --components-control-default-foreground-default: #1f2328;
    --components-control-default-foreground-disabled: #1f232866;
    --components-control-default-foreground-placeholder: #6e7781;
    --components-control-default-foreground-subtle: #1f2328b2;
    --components-control-invisible-background-hover: #d0d7de33;
    --components-control-invisible-background-hover-on-inverse: #ffffff12;
    --components-control-invisible-border-disabled: #f6f8fa;
    --components-control-invisible-border-hover: #d0d7de;
    --components-control-invisible-foreground-default: #0969da;
    --components-control-invisible-foreground-disabled: #1f232866;
    --components-control-invisible-foreground-subtle: #1f2328b2;
    --components-control-success-background-default: #1f883d;
    --components-control-success-background-disabled--overlay: #ffffff8c;
    --components-control-success-background-hover--overlay: #1f232826;
    --components-control-success-border-default: #1f232826;
    --components-control-success-border-disabled: #ffffff00;
    --components-control-success-border-hover: #1f232826;
    --components-control-success-foreground-default: #ffffff;
    --components-control-success-foreground-disabled: #ffffffe5;
    --components-control-success-foreground-subtle: #ffffff;
    --components-control-track-default: #eaeef2;
    --components-control-track-hover: #eef1f4;
    --components-counter-danger-bg-default: #cf222e1a;
    --components-counter-danger-bg-disabled: #cf222e0d;
    --components-counter-danger-bg-hover: #ffffff26;
    --components-counter-danger-fg-default: #a40e26;
    --components-counter-danger-fg-hover: #ffffff;
    --foreground-default: #1f2328;
    --foreground-disabled: #1f232866;
    --foreground-link: #0969da;
    --foreground-subtle: #1f2328b2;
    --foreground-not-invertable-default: #ffffff;
    --foreground-not-invertable-disabled: #ffffff59;
    --foreground-not-invertable-link: #54aeff;
    --foreground-not-invertable-link-white: #ffffff;
    --foreground-not-invertable-subtle: #ffffffe5;
    --foreground-on-inverse-default: #ffffff;
    --foreground-on-inverse-disabled: #ffffff59;
    --foreground-on-inverse-link: #54aeff;
    --foreground-on-inverse-link-white: #ffffff;
    --foreground-on-inverse-subtle: #ffffffe5;
    --labels-assessment-bg-emphasis: #bc4c00;
    --labels-assessment-bg-subtle: #fff1e5;
    --labels-assessment-border-emphasis: #bc4c00;
    --labels-assessment-border-subtle: #fb8f4466;
    --labels-assessment-foreground: #bc4c00;
    --labels-assessment-foreground-on-inverse: #fb8f44;
    --labels-group-training-bg-emphasis: #8250df;
    --labels-group-training-bg-subtle: #fbefff;
    --labels-group-training-border-emphasis: #8250df;
    --labels-group-training-border-subtle: #c297ff66;
    --labels-group-training-foreground: #8250df;
    --labels-group-training-foreground-on-inverse: #a475f9;
    --labels-important-bg-emphasis: #d1242f;
    --labels-important-bg-subtle: #ffebe9;
    --labels-important-border-emphasis: #cf222e;
    --labels-important-border-subtle: #ff818266;
    --labels-important-foreground: #d1242f;
    --labels-important-foreground-on-inverse: #fa4549;
    --labels-neutral-bg-emphasis: #6e7781;
    --labels-neutral-bg-subtle: #afb8c133;
    --labels-neutral-border-emphasis: #6e7781;
    --labels-neutral-border-subtle: #afb8c133;
    --labels-neutral-foreground: #6e7781;
    --labels-neutral-foreground-on-inverse: #8c959f;
    --labels-review-bg-emphasis: #bf3989;
    --labels-review-bg-subtle: #ffeff7;
    --labels-review-border-emphasis: #bf3989;
    --labels-review-border-subtle: #ff80c866;
    --labels-review-foreground: #bf3989;
    --labels-review-foreground-on-inverse: #e85aad;
    --labels-success-bg-emphasis: #1f883d;
    --labels-success-bg-subtle: #dafbe1;
    --labels-success-border-emphasis: #1f883d;
    --labels-success-border-subtle: #4ac26b66;
    --labels-success-foreground: #1f883d;
    --labels-success-foreground-on-inverse: #4ac26b;
    --labels-training-bg-emphasis: #0969da;
    --labels-training-bg-subtle: #ddf4ff;
    --labels-training-border-emphasis: #0969da;
    --labels-training-border-subtle: #54aeff66;
    --labels-training-foreground: #0969da;
    --labels-training-foreground-on-inverse: #54aeff;
    --progressions-attention-bg-emphasis: #bf8700;
    --progressions-attention-bg-subtle: #fff8c5;
    --progressions-attention-border-emphasis: #bf8700;
    --progressions-attention-border-subtle: #d4a72c66;
    --progressions-attention-foreground: #9a6700;
    --progressions-attention-foreground-on-inverse: #d4a72c;
    --progressions-complete-bg-emphasis: #1f883d;
    --progressions-complete-bg-subtle: #dafbe1;
    --progressions-complete-border-emphasis: #1f883d;
    --progressions-complete-border-subtle: #4ac26b66;
    --progressions-complete-foreground: #1f883d;
    --progressions-complete-foreground-on-inverse: #4ac26b;
    --progressions-in-progress-bg-emphasis: #088ab2;
    --progressions-in-progress-bg-subtle: #ecfdff;
    --progressions-in-progress-border-emphasis: #06aed4;
    --progressions-in-progress-border-subtle: #67e3f999;
    --progressions-in-progress-foreground: #088ab2;
    --progressions-in-progress-foreground-on-inverse: #67e3f9;
    --progressions-need-response-bg-emphasis: #d1242f;
    --progressions-need-response-bg-subtle: #ffebe9;
    --progressions-need-response-border-emphasis: #cf222e;
    --progressions-need-response-border-subtle: #ff818266;
    --progressions-need-response-foreground: #d1242f;
    --progressions-need-response-foreground-on-inverse: #fa4549;
    --sentiments-negative-bg-emphasis: #d1242f;
    --sentiments-negative-bg-subtle: #ffebe9;
    --sentiments-negative-border-emphasis: #cf222e;
    --sentiments-negative-border-subtle: #ff818266;
    --sentiments-negative-foreground: #d1242f;
    --sentiments-negative-foreground-on-inverse: #fa4549;
    --sentiments-positive-bg-emphasis: #1f883d;
    --sentiments-positive-bg-subtle: #dafbe1;
    --sentiments-positive-border-emphasis: #1f883d;
    --sentiments-positive-border-subtle: #4ac26b66;
    --sentiments-positive-foreground: #1f883d;
    --sentiments-positive-foreground-on-inverse: #4ac26b;
    --sentiments-warning-bg-emphasis: #bf8700;
    --sentiments-warning-bg-subtle: #fff8c5;
    --sentiments-warning-border-emphasis: #bf8700;
    --sentiments-warning-border-subtle: #d4a72c66;
    --sentiments-warning-foreground: #9a6700;
    --sentiments-warning-foreground-on-inverse: #d4a72c;
  }
  [data-theme="Dark"] {
    /* colors */
    --background-default: #0d1117;
    --background-disabled: #161b22;
    --background-emphasis: #6e7681;
    --background-inset: #010409;
    --background-inverse: #ffffff;
    --background-subtle: #161b22;
    --border-default: #30363d;
    --border-disabled: #161b22;
    --border-divider: #e6edf31a;
    --border-emphasis: #484f58;
    --border-focus: #2f81f7;
    --border-stackable: #ffffff;
    --border-subtle: #30363d80;
    --border-on-inverse-divider: #0d111726;
    --components-bar-empty: #58728b33;
    --components-menu-selected: #d0d7de33;
    --components-overlay-bg: #000000b2;
    --components-control-brand--overlay-bg-subtle: #00000080;
    --components-control-brand--overlay-border-subtle: #00000066;
    --components-control-brand--overlay-disabled-overlay: #1f2328b2;
    --components-control-danger-background-default: #161b22;
    --components-control-danger-background-disabled: #161b22;
    --components-control-danger-background-hover: #a40e26;
    --components-control-danger-border-default: #d0d7de;
    --components-control-danger-border-hover: #1f232826;
    --components-control-danger-foreground-default: #d1242f;
    --components-control-danger-foreground-disabled: #d1242f80;
    --components-control-danger-foreground-hover: #ffffff;
    --components-control-danger-foreground-subtle: #cf222e;
    --components-control-default-background-active: #32383f;
    --components-control-default-background-active-inner-shadow: #dce0e426;
    --components-control-default-background-default: #161b22;
    --components-control-default-background-disabled: #161b22;
    --components-control-default-background-hover: #24292f;
    --components-control-default-border-default: #d0d7de;
    --components-control-default-border-disabled: #f6f8fa;
    --components-control-default-border-hover: #d0d7de;
    --components-control-default-foreground-default: #1f2328;
    --components-control-default-foreground-disabled: #1f232866;
    --components-control-default-foreground-placeholder: #6e7781;
    --components-control-default-foreground-subtle: #1f2328b2;
    --components-control-invisible-background-hover: #d0d7de33;
    --components-control-invisible-background-hover-on-inverse: #ffffff12;
    --components-control-invisible-border-disabled: #f6f8fa;
    --components-control-invisible-border-hover: #d0d7de;
    --components-control-invisible-foreground-default: #0969da;
    --components-control-invisible-foreground-disabled: #1f232866;
    --components-control-invisible-foreground-subtle: #1f2328b2;
    --components-control-success-background-default: #1f883d;
    --components-control-success-background-disabled--overlay: #1f2328b2;
    --components-control-success-background-hover--overlay: #1f232826;
    --components-control-success-border-default: #1f232826;
    --components-control-success-border-disabled: #ffffff00;
    --components-control-success-border-hover: #1f232826;
    --components-control-success-foreground-default: #ffffff;
    --components-control-success-foreground-disabled: #ffffff8c;
    --components-control-success-foreground-subtle: #ffffff;
    --components-control-track-default: #21262d;
    --components-control-track-hover: #292e36;
    --components-counter-danger-bg-default: #cf222e1a;
    --components-counter-danger-bg-disabled: #cf222e0d;
    --components-counter-danger-bg-hover: #ffffff26;
    --components-counter-danger-fg-default: #a40e26;
    --components-counter-danger-fg-hover: #ffffff;
    --foreground-default: #e6edf3;
    --foreground-disabled: #e6edf366;
    --foreground-link: #60a1ff;
    --foreground-subtle: #e6edf3b2;
    --foreground-not-invertable-default: #ffffff;
    --foreground-not-invertable-disabled: #ffffff59;
    --foreground-not-invertable-link: #54aeff;
    --foreground-not-invertable-link-white: #ffffff;
    --foreground-not-invertable-subtle: #ffffffe5;
    --foreground-on-inverse-default: #0d1117;
    --foreground-on-inverse-disabled: #0d111759;
    --foreground-on-inverse-link: #0969da;
    --foreground-on-inverse-link-white: #0969da;
    --foreground-on-inverse-subtle: #0d1117b2;
    --labels-assessment-bg-emphasis: #bc4c00;
    --labels-assessment-bg-subtle: #fff1e5;
    --labels-assessment-border-emphasis: #bc4c00;
    --labels-assessment-border-subtle: #fb8f4466;
    --labels-assessment-foreground: #bc4c00;
    --labels-assessment-foreground-on-inverse: #fb8f44;
    --labels-group-training-bg-emphasis: #8250df;
    --labels-group-training-bg-subtle: #fbefff;
    --labels-group-training-border-emphasis: #8250df;
    --labels-group-training-border-subtle: #c297ff66;
    --labels-group-training-foreground: #8250df;
    --labels-group-training-foreground-on-inverse: #a475f9;
    --labels-important-bg-emphasis: #d1242f;
    --labels-important-bg-subtle: #ffebe9;
    --labels-important-border-emphasis: #cf222e;
    --labels-important-border-subtle: #ff818266;
    --labels-important-foreground: #d1242f;
    --labels-important-foreground-on-inverse: #fa4549;
    --labels-neutral-bg-emphasis: #6e7681;
    --labels-neutral-bg-subtle: #6e768166;
    --labels-neutral-border-emphasis: #6e7681;
    --labels-neutral-border-subtle: #6e768166;
    --labels-neutral-foreground: #6e7681;
    --labels-neutral-foreground-on-inverse: #484f58;
    --labels-review-bg-emphasis: #bf3989;
    --labels-review-bg-subtle: #ffeff7;
    --labels-review-border-emphasis: #bf3989;
    --labels-review-border-subtle: #ff80c866;
    --labels-review-foreground: #bf3989;
    --labels-review-foreground-on-inverse: #e85aad;
    --labels-success-bg-emphasis: #1f883d;
    --labels-success-bg-subtle: #dafbe1;
    --labels-success-border-emphasis: #1f883d;
    --labels-success-border-subtle: #4ac26b66;
    --labels-success-foreground: #1f883d;
    --labels-success-foreground-on-inverse: #4ac26b;
    --labels-training-bg-emphasis: #0969da;
    --labels-training-bg-subtle: #ddf4ff;
    --labels-training-border-emphasis: #0969da;
    --labels-training-border-subtle: #54aeff66;
    --labels-training-foreground: #0969da;
    --labels-training-foreground-on-inverse: #54aeff;
    --progressions-attention-bg-emphasis: #bf8700;
    --progressions-attention-bg-subtle: #fff8c5;
    --progressions-attention-border-emphasis: #bf8700;
    --progressions-attention-border-subtle: #d4a72c66;
    --progressions-attention-foreground: #9a6700;
    --progressions-attention-foreground-on-inverse: #d4a72c;
    --progressions-complete-bg-emphasis: #1f883d;
    --progressions-complete-bg-subtle: #dafbe1;
    --progressions-complete-border-emphasis: #1f883d;
    --progressions-complete-border-subtle: #4ac26b66;
    --progressions-complete-foreground: #1f883d;
    --progressions-complete-foreground-on-inverse: #4ac26b;
    --progressions-in-progress-bg-emphasis: #06aed4;
    --progressions-in-progress-bg-subtle: #06aed41a;
    --progressions-in-progress-border-emphasis: #06aed4;
    --progressions-in-progress-border-subtle: #67e3f999;
    --progressions-in-progress-foreground: #088ab2;
    --progressions-in-progress-foreground-on-inverse: #67e3f9;
    --progressions-need-response-bg-emphasis: #d1242f;
    --progressions-need-response-bg-subtle: #ffebe9;
    --progressions-need-response-border-emphasis: #cf222e;
    --progressions-need-response-border-subtle: #ff818266;
    --progressions-need-response-foreground: #d1242f;
    --progressions-need-response-foreground-on-inverse: #fa4549;
    --sentiments-negative-bg-emphasis: #d1242f;
    --sentiments-negative-bg-subtle: #f851491a;
    --sentiments-negative-border-emphasis: #cf222e;
    --sentiments-negative-border-subtle: #ff818266;
    --sentiments-negative-foreground: #d1242f;
    --sentiments-negative-foreground-on-inverse: #fa4549;
    --sentiments-positive-bg-emphasis: #1f883d;
    --sentiments-positive-bg-subtle: #2ea04326;
    --sentiments-positive-border-emphasis: #1f883d;
    --sentiments-positive-border-subtle: #4ac26b66;
    --sentiments-positive-foreground: #1f883d;
    --sentiments-positive-foreground-on-inverse: #4ac26b;
    --sentiments-warning-bg-emphasis: #bf8700;
    --sentiments-warning-bg-subtle: #bb800926;
    --sentiments-warning-border-emphasis: #bf8700;
    --sentiments-warning-border-subtle: #d4a72c66;
    --sentiments-warning-foreground: #9a6700;
    --sentiments-warning-foreground-on-inverse: #d4a72c;
  }